@import url(./root.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.nav-bgcolor {
    background: linear-gradient(90deg, #3B2E58 0%, #8661C5 100%);
}

.container-custom {
    max-width: 1920px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
}

.z-5 {
    z-index: 5;
}

.pt-63 {
    padding-top: 63px;
}

.gap-65 {
    gap: 65px;
}

.nav-tb-padding {
    padding-top: 28px;
    padding-bottom: 25px;
}

.s3-cardpara {
    max-width: 411px;
}

.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

@font-face {
    font-family: 'Segoe UI semibold';
    src: url(/assets/font-family/SegoeUI-Bold.ttf);
}

.font-family-semibold {
    font-family: 'segoe UI semibold';
}

@font-face {
    font-family: 'Segoe UI';
    src: url(/assets/font-family/SegoeUI.ttf);
}

.font-family-normal {
    font-family: 'segoe UI';
}

@font-face {
    font-family: 'Segoe UI bold';
    src: url(/assets/font-family/SegoeUI-Bold.ttf);
}

.font-family-bold {
    font-family: 'segoe UI bold';
}

.bg-img-header {
    background-image: url(../images/header-img1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-box {
    max-width: 709.795px;
    width: unset;
    padding: 35px;
    padding-right: 35px;
    max-height: 636.027px;
    border-radius: 4.659px;
    opacity: 0.7;
    background: var(--Purple, #8661C5);
    box-shadow: 3.72705px 3.72705px 16.77172px 0px rgba(0, 0, 0, 0.70);
}

.header-box-padding {
    padding: 20px;
}

.header-heading {
    max-width: 510px;
}

.height-771 {
    min-height: 500px;
}

.height-header-img2 {
    min-height: 500px;
}

.now {
    padding: 8px 20px;
    border-radius: 5px;
    max-width: 135px;
    background-color: var(--white);
    margin-top: 12px;
    transition: all 300ms linear;
    border: 2px solid transparent;
}

.now:hover {
    color: var(--white);
    background-color: var(--light-purple1);
}

.s2-para {
    max-width: 683px;
}

.container-custom1 {
    max-width: 780px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.container-custom2 {
    max-width: 1600px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.bb-1 {
    border-bottom: 1px solid var(--black);
}

.s4-para1 {
    max-width: 779px;
}

.s4-img1 {
    max-width: 887px;
    max-height: 470px;
}

.apply {
    padding: 0px 0px;
    border-radius: 5px;
    max-width: 244px;
    margin-top: 20px;
    transition: all 1000ms linear !important;
    border: 3px solid transparent;
}

.s3-card {
    max-width: 523px;
}

.apply:hover {
    background-color: transparent;
    border: 3px solid var(--light-purple1);
    color: var(--light-purple1);
}

.apply:active {
    transform: scale(.95);
}

.cursor-pointer {
    cursor: pointer;
}

.s5-para {
    max-width: 828px;
}

.s5-card {
    max-width: 253.834px;
    height: 172.299px;
    border-radius: 7.5px;
    background: var(--white);
    filter: drop-shadow(0px 3.076772689819336px 7.69193172454834px rgba(0, 0, 0, 0.25)) !important;
    transition: all 300ms linear;
}

.s5-card:hover {
    filter: drop-shadow(0px 3.076772689819336px 7.69193172454834px rgba(0, 0, 0, 0.634)) !important;
}

.pb-31 {
    padding-bottom: 31px;
}

.s5-box {
    max-width: 1330px;
    margin-left: auto;
    margin-right: auto;
}

.s5-smallbox1 {
    border-radius: 5px;
    max-width: 268px;
    height: 77px;
    transition: all 300ms linear;
    border: 3px solid transparent;
}

.s5-smallbox1:hover {
    background-color: transparent;
    border: 3px solid var(--light-purple1);
    color: var(--light-purple1);
}

.slider-box {
    border-radius: 6.621px;
    border: 2.143px solid var(--Dark-Purple, #3B2E58);
    padding: 8px 11px 8px 11px;
}

.slider-bg-img1 {
    background-image: url(../images/slider-img1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5.357px;
    min-height: 500px;
}

.slider-bg-img2 {
    background-image: url(../images/slider-img2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5.357px;
    min-height: 500px;
}

.slider-bg-img3 {
    background-image: url(../images/slider-img3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5.357px;
    min-height: 500px;
}

.slider-bg-img4 {
    background-image: url(../images/slider-img4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5.357px;
    min-height: 500px;
}

.slider-sm-box {
    max-width: 479px;
    height: 234px;
    border-radius: 3.144px;
    opacity: 0.7;
    background: var(--Purple, #8661C5);
    box-shadow: 2.51517px 2.51517px 11.31828px 0px rgba(0, 0, 0, 0.70);
}

.slider-para {
    line-height: 148.008%;
}

.btn-prev {
    position: absolute;
    top: 50%;
    left: -3%;
}

.btn-nxt {
    position: absolute;
    top: 50%;
    right: -3%;
}

.btn-prev,
.btn-nxt {
    display: none;
}

.s7-para {
    max-width: 828px;
}

.s7-card {
    max-width: 492px;
    border-radius: 5px;
    border: 3px solid var(--Purple, #8661C5);
    padding: 25px 20px 20px 20px;
}

.pt-10 {
    padding-top: 10px;
}

.s8-padding {
    padding-top: 35px;
    padding-bottom: 35px;
}

.s8-para {
    max-width: 925px;
}

.s8-imgbox {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    ;
}

.s8-smallbox {
    max-width: 410px;
    border-radius: 5px;
    border: 3px solid var(--offwhite);
    padding-top: 20px;
    min-height: 236px;
    transition: all 300ms linear;
    cursor: pointer;
}

.s8-smallbox:hover svg path {
    fill: var(--dark-purple);
}

.s8-smallbox:hover {
    box-shadow: 2.51517px 2.51517px 11.31828px 0px var(--offwhite);
}

.footer-svgcircle {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.footer-line {
    height: 50px;
    margin-top: 83px;
}

.py-35 {
    padding-top: 35px;
    padding-bottom: 35px;
}

.mb-45 {
    margin-bottom: 45px;
}

.pb-35 {
    padding-bottom: 35px;
}

.s5-box-padding {
    padding-top: unset;
    padding-bottom: 35px;
}

.footersvghover {
    transition: all 300ms linear;
}

.footersvghover:hover {
    transform: translateY(-10px);
}

#back-to-top {
    display: none;
    position: fixed;
    z-index: 4;
    bottom: 0px;
    right: 20px;
    height: 50px;
    width: 50px;
    background-color: var(--light-purple1);
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.underline {
    position: relative;
}

.underline::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    background: var(--black);
    height: 2px;
    width: 100%;
    transition: all 400ms linear;
}

.underline:hover::after {
    right: 0;
    width: 0;
}

.navunderline {
    position: relative;
}

.navunderline::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: var(--offwhite);
    height: 2px;
    width: 0;
    transition: all 300ms linear;
}

.navunderline:hover::after {
    left: 0;
    width: 100%;
}

.mt-20 {
    margin-top: 20px;
}

@media (min-width:400px) {
    .apply {
        padding: 2px 2px;
        border-radius: 5px;
        max-width: 381px;
    }

    .s5-smallbox1 {
        max-width: 363px;
        height: 100px;
    }
}

@media (min-width: 576px) {
    .py-sm-93 {
        padding-top: 93px;
        padding-bottom: 93px;
    }

    .s7-card {
        padding: 48px 25px 25px 25px;
    }

    .s8-smallbox {
        max-width: 492px;
        padding-top: 52px;
        min-height: 320px;
    }

    .slider-bg-img1,
    .slider-bg-img2,
    .slider-bg-img3,
    .slider-bg-img4 {
        min-height: 650px;
    }

    .pt-sm-55 {
        padding-top: 55px;
    }

    .s5-smallbox1 {
        max-width: 420px;
        height: 114px;
    }

    .now {
        padding: 14px 42px;
        border-radius: 5px;
        max-width: 187px;
        margin-bottom: 36px;
    }

    .pt-sm-33 {
        padding-top: 33px;
    }

    .pt-10 {
        padding-top: none;
    }

    .header-box {
        max-width: 709.795px;
        width: unset;
        padding-right: 48px !important;
        min-height: 636.027px;
        padding: unset;
    }

    .py-35 {
        padding-top: none;
        padding-bottom: none;
    }

    .mb-sm-95 {
        margin-bottom: 95px;
    }

    .mb-45 {
        margin-bottom: none;
    }

    .apply {
        margin-top: 60px;
        padding: 8px 10px;
        border-radius: 5px;
        max-width: 360px;
    }

    .elipse1 {
        position: absolute;
        bottom: -60%;
        right: 0;
        z-index: 0;
        width: 165px;
        height: 165px;
    }

    .elipse2 {
        position: absolute;
        left: 0;
        z-index: 0;
        top: -22%;
    }

    .elipse3 {
        position: absolute;
        left: 0;
        top: -3%;
        z-index: 0;
    }

    .height-771 {
        min-height: 771px;
    }

    .height-header-img2 {
        min-height: 771px;
    }

    .mt-sm-63 {
        margin-top: 63px;
    }

    .pb-sm-63 {
        padding-bottom: 63px;
    }

    .pb-25 {
        padding-bottom: none;
    }

    .s5-box-padding {
        padding-top: 65px;
        padding-bottom: 65px;
    }

    .py-sm-82 {
        padding-top: 82px;
        padding-bottom: 82px;
    }


    .btn-prev {
        position: absolute;
        top: 50%;
        left: -5%;
    }

    .btn-nxt {
        position: absolute;
        top: 50%;
        right: -5%;
    }

    .pt-sm-63 {
        padding-top: 63px;
    }

    .pb-sm-120 {
        padding-bottom: 120px;
    }

    .s8-padding {
        padding-top: 69px;
        padding-bottom: 80px;
    }

    .apply {
        padding: 14px 42px;
        max-width: 456px;
    }

    .mt-20 {
        margin-top: none;
    }
}

@media (min-width:768px) {
    .btn-prev {
        position: absolute;
        top: 50%;
        left: -2.8%;
    }

    .s5-box-padding {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .btn-nxt {
        position: absolute;
        top: 50%;
        right: -2.8%;
    }

    .elipse1 {
        position: absolute;
        bottom: -60%;
        right: 0;
        z-index: 0;
        width: 100%;
    }

    .slider-bg-img1,
    .slider-bg-img2,
    .slider-bg-img3,
    .slider-bg-img4 {
        min-height: 712px;
    }
}

@media (min-width:992px) {
    .header-box {
        width: 100%;
        padding-right: 0;
        max-width: 529.795px;
        max-height: 636.027px;
    }

    .elipse1 {
        display: none;
    }

    .elipse2 {
        display: none;
    }

    .elipse3 {
        display: none;
    }

    .s5-box-padding {
        padding-top: 118px;
        padding-bottom: 168px;
    }
}

@media (min-width:1200px) {
    .height-771 {
        min-height: unset;
    }

    .height-header-img2 {
        min-height: unset;
    }

    .header-box {
        max-height: 636.027px;
    }

    .header-box-padding {
        padding: 67px 130px;
    }

    .btn-prev {
        position: absolute;
        top: 50%;
        left: -1.8%;
    }

    .btn-nxt {
        position: absolute;
        top: 50%;
        right: -1.8%;
    }

    .slider-box {
        padding: 8px 38px 8px 11px;
    }

    .elipse1 {
        position: absolute;
        bottom: -60%;
        right: 0;
        z-index: 0;
    }

    .header-box {
        max-width: 709.795px;
        min-height: 636.027px;
    }
}

@media (max-width: 1140px) {
    label[for="icon"] {
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        z-index: 3;
        cursor: pointer;
    }

    label[for="icon"]>span {
        width: 100%;
        background: white;
        height: 5px;
        border-radius: 2px;
    }

    ul.mobile-view {
        background: linear-gradient(90deg, #3B2E58 0%, #8661C5 100%);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: fixed;
        right: -100%;
        top: 0;
        z-index: 2;
        transition: all 300ms ease-in-out;
    }

    input[type="checkbox"]:checked+ul {
        right: 0;
        gap: 58px;
    }

    ul {
        padding-left: 0 !important;
    }

}


@media (min-width:1450px) {
    .btn-prev {
        position: absolute;
        top: 50%;
        left: -4%;
    }

    .btn-nxt {
        position: absolute;
        top: 50%;
        right: -4%;
    }

    .header-box {
        width: 100%;
        padding-right: 0;
    }
}